# Add Rows to Flower Detail Table
Edit the "set" cell to update the variables, then click "Run All" in the top left-corner.

Markdown is just text. **But** :red[you] *can* :green[also] make it :blue[fancy]!

set rdc = 'M';
set rdc = 'S';
set rdc = 'D';
set rdc = 'S';
set rdc = 'M';
/n
set fn = 'Petunia';
set fn = 'Lilac';
set fn = 'Sunflower';
set fn = 'Lavender';
set fn = 'Tulip';

In [ ]:
set rdc = 'M';

In [ ]:
set fn = 'Tulip';

In [ ]:
select $fn, $rdc;

In [ ]:
use database garden_plants;
use schema flowers;

insert into flower_details select $fn, $rdc;

In [ ]:
select * from flower_details

In [ ]:
-- use database UTIL_DB;
-- use schema PUBLIC;
-- use role ACCOUNTADMIN;

-- select GRADER(step, (actual = expected), actual, expected, description) as graded_results from ( 
--    SELECT 'DWW08' as step 
--    ,( select iff(count(*)=0, 0, count(*)/count(*))
--       from table(information_schema.query_history())
--       where query_text like 'execute notebook%Uncle Yer%') as actual 
--    , 1 as expected 
--    , 'Notebook success!' as description 
-- );